{{ define "main" }}

<div class="container space-y-8">
  <form method="get" class="max-w-screen-sm mx-auto transition-opacity" id="pc-form">
    <div class="mb-4"> 
      <label>Postcode <span class="text-red">*</span>
        <input name="zipcheck-zipcode"
          placeholder="Postcode" class="w-full border border-grey-light bg-white px-3 py-2 text-base" required>
      </label>
    </div>
    <div class="mb-4"> 
      <label>Huisnummer <span class="text-red">*</span>
        <input name="zipcheck-housenr"
          placeholder="Huisnummer" class="w-full border border-grey-light bg-white px-3 py-2 text-base" required>
      </label>
    </div>
    <div class="mb-4"> 
      <label>Toevoeging 
        <input name="zipcheck-ext"
          placeholder="Toevoeging" class="w-full border border-grey-light bg-white px-3 py-2 text-base">
      </label>
    </div>
    <button class="bg-blue px-8 py-3 rounded-full text-white">ZOEK</button>
  </form>

  <div class="">
    <div id="pc-loader" class="hidden text-center">Laden...</div>
    <iframe class="w-full" id="pc-result"></iframe>
  </div>

  <div id="pc-actions" class="hidden flex flex-col sm:flex-row justify-center gap-4 text-center">
    <a href="https://www.callvoip.nl/internet/glasvezel-dsl/" target="_blank" class="bg-blue px-8 py-3 rounded-full text-white hover:bg-blue-dark transition-colors">Meer weten over internet</a>
    <button type="button" id="pc-copy-btn" class="bg-blue px-8 py-3 rounded-full text-white hover:bg-blue-dark transition-colors">Resultaten delen (kopieërt de URL)</button>
  </div>

</div>

<script>
  const url = 'https://postcode.callvoip.nl/?'

  const form = document.getElementById('pc-form')
  const iframe = document.getElementById('pc-result')
  const loader = document.getElementById('pc-loader')
  const actionsContainer = document.getElementById('pc-actions')
  const copyBtn = document.getElementById('pc-copy-btn')

  form.onsubmit = function (e) {
    e.preventDefault()

    const formData = new FormData(e.target);
    const params = new URLSearchParams(formData);

    form.classList.add('hidden')

    loader.classList.remove('hidden')
    actionsContainer.classList.add('hidden')
    
    iframe.src = url + params.toString()
  }

  iframe.onload = function (e) {
    if (iframe.src) {
      loader.classList.add('hidden')
      
      // CHANGED: Lowered from 60rem to 45rem. Tweak this number if needed!
      iframe.style.height = '50rem' 
      
      actionsContainer.classList.remove('hidden')
    }
  }

  copyBtn.onclick = function() {
    navigator.clipboard.writeText(iframe.src).then(() => {
      const originalText = copyBtn.innerText;
      copyBtn.innerText = 'URL Gekopieerd!';
      
      setTimeout(() => {
        copyBtn.innerText = originalText;
      }, 2000);
    }).catch(err => {
      console.error('Failed to copy text: ', err);
    });
  }

</script>
{{ end }}
