{{ define "main" }}
<article>
  {{- partial "components/hero.html" . -}}
  <div class="flex flex-col-reverse md:flex-col">
      <div class="container px-4">
        {{- partial "components/page-introroy.html" . -}}
      </div>
      <div style="max-width: 2600px" class="mx-auto">
        {{/* 1. Use Site.RegularPages to bypass section hierarchy */}}
        {{/* 2. Filter by Type "roy" */}}
        {{ $items := where .Site.RegularPages "Type" "roy" }}
        
        {{/* 3. Paginate the resulting collection */}}
        {{ $paginator := .Paginate $items.ByWeight 6 }}
        
        {{ range $i, $item := $paginator.Pages }}
          {{ if not (modBool $i 2) }}
            {{- partial "components/roy-item.html" (dict "item" . "ctx" $ "type" "light") -}}
          {{ else }}
            {{- partial "components/roy-item.html" (dict "item" . "ctx" $ "type" "dark") -}}
          {{ end }}
        {{ end }}
      </div>
      {{ template "_internal/pagination.html" . }}
    </div>
</article>
{{ end }}
